config:
    url: https://news.ycombinator.com/rss
    interval: 360 #time in seconds

webconfig:
    file: index.html
    webserver: True #this turns on the webserver function
    title: Rsseer
    inject: True #yes?
